<div class="navbar">

  <img id="logo" Src="logo.png" alt="Logo">
  <h1 id="name">ELECTRO</h1>
  <ul id="list">
    <li><a routerLink="/" routerLinkActive="true" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/features" routerLinkActive="true" ariaCurrentWhenActive="page">Features</a></li>
    <li><a routerLink="/screenshots" routerLinkActive="true" ariaCurrentWhenActive="page">Screenshots</a></li>
    <li><a routerLink="/download" routerLinkActive="true" ariaCurrentWhenActive="page">Download</a></li>
  </ul>
</div>
