<div>
  <h1 id="header">⚡ Take the guesswork out of electroplating currents.</h1>
  <p id="paragraph">Our tool helps you quickly calculate the exact current needed for zinc plating different fasteners – saving time, reducing waste, and ensuring consistent quality.</p>
  <img id="screenshot" Src="screenshot-app.png" alt="screenshot of program">
  <div id="buttons">
    <a id="downloadButton" href="https://drive.google.com/uc?export=download&id=1y-bAYlYPywo3sUxLkbq3pMkU5RiKsRUN">
      <p>Download</p>
    </a>
    <a id="featuresButton" routerLink="/features" routerLinkActive="true" ariaCurrentWhenActive="page">
      <p>Features</p>
    </a>
  </div>

</div>

